.employer-wrapper {
  background: $color-tertiary;
  padding-top: 60px;
  padding-bottom: 40px;
}

.employer {
  display: flex;
  width: 992px;
  margin-left: auto;
  margin-right: auto;

  &__col-25 {
    width: 25%;
    margin-right: 10px;
  }

  &__col-75 {
    width: 75%;
    margin-left: 10px;
  }

  &__block {
    border: 1px solid #eaeaea;
    background: #fff;
    padding: 20px;
    background: #fff;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid #eaeaea;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &__title {
      position: relative;
      font-size: 14px;
      color: #000;
      padding-bottom: 15px;
      font-weight: 700;
      text-transform: capitalize;

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 20px;
        background: $color-secondary;
        left: 0;
        bottom: 0;
      }
    }
  }

  &__checkbox {
    margin-top: 10px;
  }

  &__text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
  }

  &__sort {
    font-size: 13px;
    font-weight: 600;
  }
}
