.jobs-wrapper {
  background: $color-tertiary;
}

.jobs {
  margin-top: -60px;
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;

  &__col-75 {
    width: 75%;
    margin-right: 20px;
  }

  &__col-25 {
    width: 25%;
    margin-left: 10px;
  }

  &__details-wrapper,
  &__recommend-wrapper {
    border: 1px solid #eaeaea;
    border-radius: 3px;
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }

  &__details {
    margin-bottom: 20px;
    &--anchor{
      font-size: 15px;
      color: $color-secondary;
    }
    &__square__green {
      width: 18px;
      background: $color-secondary;
      display: inline-block;
      margin-right: 10px;
      &--yellow{
        background: $color-primary;
      }
    }
    &__title {
      font-size: 16px;
      color: #000;
      padding-bottom: 15px;
      font-weight: 700;
      text-transform: capitalize;
    }
    &__flex{
      display: flex;
      width: 33.33%;
      align-items: center;
      &--approve{
        padding: 10px 26px;
      }
    }
    &__flexbox{
      display: flex;
      padding: 20px 0px;
      &__recommend{
        width: 33.33%;
        display: flex;
      }
      &--nature {
        font-size: 15px;
        color: #000;
      }
    }

    &__circle{
      border-radius: 50%;
      border: 8px solid $color-secondary;
      height: 75px;
      width: 75px;
      position: relative;
    }

    &__percentage {
      display: inline-block;
      /* height: 100%; */
      align-items: center;
      /* width: 100%; */
      position: absolute;
      left: 16%;
      top: 30%;
      font-size: 16px;
      font-weight: 700;
      color: $color-secondary;
    }
    &__name{
      width: 60%;
      padding: 0px 10px;
      font-size: 10px;
      color: #000;
    }
    &__images{
      width: 75px;
      height: 75px;
      overflow: hidden;
      img{
        height: 100%;
        width: 100%;
      }
      &--radious{
        border-radius: 50%;
      }
      &--borderimg{
        border: 1px solid #d9d9d9;
        img{
          padding: 6px;
        }
        
      }
    }
    &__right{
      width: 100%;
      padding-left: 10px;
    }

    &__desc {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.45);
      line-height: 1.5;
      &--review{
        display: flex;
        border-bottom: 1px solid #d9d9d9;
      }
      &--padding{
        padding: 15px 10px;
        margin-bottom: 15px;
      }
      &--marginbottom{
        margin-bottom: 20px;
      }

    }

    &__bullet {
      &__child {
        position: relative;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.45);
        margin-left: 20px;
        line-height: 1.7;

        &::before {
          position: absolute;
          content: "";
          height: 8px;
          width: 8px;
          left: -20px;
          transform: translateY(100%);
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.45);
        }
      }
    }
  }

  &__interact {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    display: flex;
  }

  &__social {
    display: flex;
    align-items: center;

    &__title {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.45);
      font-weight: 600;
      margin-right: 10px;
      text-transform: capitalize;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      background: #8f8d8d;
      margin: 0 3px;
      border-radius: 50%;

      .md {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }

  &__block {
    border: 1px solid #eaeaea;
    border-radius: 3px;
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;

    &__title {
      position: relative;
      font-size: 14px;
      color: #000;
      padding-bottom: 15px;
      font-weight: 700;
      text-transform: capitalize;

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 20px;
        background: $color-secondary;
        left: 0;
        bottom: 0;
      }
    }

    &__desc {
      display: flex;
      padding-top: 10px;
      font-size: 12px;
    }

    &__key {
      position: relative;
      font-weight: 600;
      text-transform: capitalize;
      white-space: nowrap;
      color: #000;
      margin-right: 5px;
      &::after {
        content: ":";
        font-size: 13px;
        color: #000;
        font-weight: 600;
        margin-left: 2px;
      }
    }

    &__value {
      text-transform: capitalize;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.45);
    }
  }

  &__contact {
    margin-top: 15px;
    width: 100%;

    input {
      height: 40px;
      border: 1px solid #eaeaea;
      margin-bottom: 5px;
      border-radius: 3px;
      color: #000;
      font-size: 13px;
      text-transform: capitalize;
      text-indent: 10px;
      width: 100%;
      outline: none;

      &::placeholder {
        color: rgba(0, 0, 0, 0.45);
        text-transform: capitalize;
      }
    }
  }

  &__recommend {
    margin-top: 15px;
  }
}
