.btn {
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;

  &--post {
    background: #fff;
    color: #000;
    font-weight: 700;
  }

  &--choice {
    font-size: 11px;
    width: 100px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
  }

  &--newsletter {
    text-align: center;
    background: $color-secondary;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
  }

  &--apply {
    background: $color-secondary;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
  }

  &--save {
    background: #8e6e6e;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 10px;
  }

  &--alert {
    background: #8e6e6e;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 10px;
  }

  &--contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8e6e6e;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    width: 100%;
    height: 40px;
  }
}
