.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  input {
    cursor: pointer;
  }

  &__label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    margin-left: 8px;
    text-transform: capitalize;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
