.u-margin-bottom-xs {
  margin-bottom: 8px;
}

.u-margin-bottom-sm {
  margin-bottom: 15px;
}

.u-margin-bottom-md {
  margin-bottom: 40px;
}

.u-margin-bottom-lg {
  margin-bottom: 80px;
}

.u-align-self-center {
  align-self: center;
}

.u-position-absolute {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.u-flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-margin-mini {
  margin: 3px;
}
