.header {
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url(../images/header.jpg);
  position: relative;
  background-size: cover;
  color: #fff;
  background-position: top;

  &--employer {
    height: 40vh;
  }

  &__employer-wrapper {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    height: calc(40vh - 60px);
    display: flex;
    align-items: center;
  }

  &__employer {
    &__title {
      font-size: 28px;
      font-weight: 800;
      text-transform: capitalize;
    }

    &__breadcrum {
      font-size: 12px;
      text-transform: capitalize;
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: #fff;
        margin-right: 5px;
      }

      a.active {
        color: $color-secondary;
      }

      .md {
        font-size: 13px;
        margin-right: 5px;
        color: #fff;
      }
    }
  }

  &--home {
    &::after {
      content: "";
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 40px;
      background: $color-tertiary;
      border-top-left-radius: 75% 100%;
      border-top-right-radius: 75% 100%;
    }
  }

  &__job-post {
    position: relative;
    display: flex;
    align-items: center;
    width: 992px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navbar {
  height: 60px;
  position: relative;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.25);

    &__i {
      font-size: 24px;
      font-weight: 700;
      padding: 0 25px;
    }
  }

  &__login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0 25px;

    &__i {
      font-weight: 600;
      font-size: 18px;
      white-space: nowrap;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    height: 60px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 15px;
      float: left;

      a {
        display: flex;
        text-transform: capitalize;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
      }

      a.active {
        color: $color-secondary;
      }
    }
  }
}
