@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/typography";
@import "base/base";
@import "base/animations";

@import "components/btn";
@import "components/text-box";
@import "components/job-post";
@import "components/checkbox";
@import "components/input";
@import "components/textarea";

@import "layouts/header";
@import "layouts/grid";
@import "layouts/footer";

@import "pages/home";
@import "pages/jobs";
@import "pages/employer";
@import "pages/profile";
@import "pages/review";
@import "pages/login";

@import "base/utilities";
